.has-bg-img {
  background: url("Assests/covid1.jpg") center center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}



.title {
  color: white;
  font-size: 85px;
  margin-bottom: 25px;
}
.subtitle {
  color: white;
  margin-top: 25px;
}
